*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Google Services (Firebase)
google-services.json

# Keystore files
*.jks
*.keystore

# Android Studio Navigation editor temp files
.navigation/

# Mac OS X folder attributes
.DS_Store

# Log Files
*.log
